# Environment variables (Berisi kredensial rahasia)
.env

# AI & Internal Documentation
.ai-docs/

# Uploaded media files
uploads/products/*
!uploads/products/.gitkeep
!uploads/.gitkeep

# Binaries and compiled files
*.exe
*.exe~
*.dll
*.so
*.dylib
bin/
pkg/
go-learning.exe

# Output testing & logs
*.log
*.test
*.out

# IDE and Editor files
.idea/
.vscode/
*.swp
*.swo

# OS files
Thumbs.db
Desktop.ini
.DS_Store
